.header-container {
  box-shadow: 1px 0px 7px -1px rgba(122,122,122,0.59);
  height: 50px;
  position: sticky;
}

.header img {
  height: 32px;
}

.header {
  display: flex;
 
  align-items: center;
  width: 1264px;
  height: 50px;
  margin: auto;
  gap: 8px;
}

ul {
  display: flex;
  gap: 4px;
  padding-left: 0;
}

.menu-list li {
  padding: 8px 12px;
  font-size: 16px;
  list-style: none;
  
}

a {
  text-decoration: none;
  color: #181818;
  font-size: 14px;
}

.menu-list li {
  text-align: center;
}

input {
  padding: 6px 12px;
  width: 45%;
  border: 1px solid;
  border-radius: 4px;
}

.Log-in {
  padding: 8px 12px;
  border-style: none;
  background-color: #e1ecf4;
  color: #39739d;
  border: 1px solid #7aa7c7;
  font-weight: 500;
  border-radius: 4px;
}

.Sign-in {
  padding: 8px 12px;
  border-style: none;
  border: 1px solid #0a95ff;
  background-color: #0a95ff;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}

