.Question-card {
  display: flex;
  width: 751px;
  padding: 16px;
  border-bottom: 1px solid #e3e6e8;
}


.left {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 16px;
  margin-top: 3px;
  width: 56px;
  width: 25%;
}

.left p {
  margin: 0;
  font-size: 13px;
  
}

.right {
  display: block;
  text-align: start;
}

.right h3 {
  font-size: 17px;
  font-weight: 400;
  color: #0074cc;
}

.right p {
}

.Title {
  padding-right: 16px;
  margin: 0;
  margin-bottom: 6px;
}

.Description {
  margin: 0;
  margin-bottom: 6px;
}

.Votes {
  font-weight: 500;
}

.summary-meta {
  display: flex;
  justify-content: space-between;
}

.tag-list ul{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0;
}

.tag-list li {
  background-color: #e1ecf4;
  padding: 4px 6px;
  border-radius: 4px;
  list-style: none;
}

.tag-list a {
  font-size: 13px;
  text-decoration: none;
  color: #0074cc;
  margin: 0;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-card img {
  height: 24px;
  border-radius: 3px;
}

.user-name {
  font-size: 13px;
  color: #0074cc;
}

.log {
  font-size: 13px;
}